<div class="container-fluid" id="main">
  <div class="row">
    <div class="col-md-12">

      <a class="twitter-share" href="<%= "twitterShareMessage" %>">Share on Twitter</a>
      <a class="fb-share" href="<%= "facebookShareMessage" %>">Share on Facebook</a>
      <a class="fb-share" href="https://github.com/bmustata/sails-auth-super-template"><i class="fa fa-github"></i> GitHub Project</a>

    </div>
  </div>
</div>

<img class="grass-image" src="/images/grass.png">


